.service {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: var(--text);
	overflow-x: hidden;
}

.service-main {
	margin-top: 161px;
	padding: 0 4.6%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.service-main-cnt {
	width: 35.7%;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.service-main-cnt > div:first-child {
	/*font-size: 2.8rem;*/
	font-size: clamp(2.2rem , 3.4vw, 3.2rem);
}

.service-main-cnt > div:nth-child(2) {
	line-height: 2rem;
	/* font-size: clamp(1rem , 1.2vw, 1.2rem); */
	font-size: clamp(.8rem , 1.4vw, 1.2rem);
	width: 84.8%;
}

.service-main-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 27px;
	margin-bottom: 160px;
	position: relative;
}

.service-blur {
	width: 320px;
	height: 320px;
	position: absolute;
	left: 0;
	top: 60%;
	translate: -50% 0;
	background: var(--primary-gradient);
	border-radius: 50%;
	filter: blur(120px);
}

.service-card {
	position: relative;
	z-index: 1;
	width: 100%;
	max-height: 502px;
	min-height: 360px;
	aspect-ratio: 676 / 502;
	overflow: hidden;
	border-radius: clamp(12px, 2.6vw, 30px);
	background: linear-gradient(rgb(47, 47, 47, .3), rgb(47, 47, 47, .12));
	display: flex;
	flex-direction: column;
	transition: background .8s;
	cursor: pointer;
}

.light-theme .service-card {
	background: linear-gradient(rgb(218, 218, 218, .2), rgb(218, 218, 218, .3));
}

.service-card:hover {
	background: linear-gradient(30deg, #004429, #2cb933);
}

.service-card::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(rgb(31, 132, 36, .3), rgb(230, 239, 235, .2)) border-box;
	border: 1px solid transparent !important;
	mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
	mask-composite: exclude;
	left: 0;
	top: 0;
	/*translate: -50% 0;*/
	border-radius: clamp(12px, 2.6vw, 30px);
}

.service-card-img {
	width: 100%;
	height: 59%;
	min-height: 50%;
	background-color: rgb(200, 200, 200);
	position: relative;
	overflow: hidden;
}

.service-card-img > img {
	min-height: 100%;
	min-width: 100%;
	position: relative;
	left: 0;
	right: 0;
}

.service-card:nth-child(1) > .service-card-img > img {
	background-image: url('../../assets/SMALL/ser_frame_1_small.webp');
	background-size: cover;
}

.service-card:nth-child(2) > .service-card-img > img {
	background-image: url('../../assets/SMALL/ser_frame_3_small.webp');
	background-size: cover;
}

.service-card:nth-child(3) > .service-card-img > img {
	background-image: url('../../assets/SMALL/ser_frame_2_small.webp');
	background-size: cover;
}

.service-card:nth-child(4) > .service-card-img > img {
	background-image: url('../../assets/SMALL/ser_frame_4_small.webp');
	background-size: cover;
}

.service-card-cnt {
	display: flex;
	flex-direction: column;
	padding: 32px 43px;
	gap: 16px;
}

.service-card-cnt > div:first-child {
	font-size: 1.8rem;
	font-size: clamp(1.2rem , 2vw, 1.8rem);
	font-weight: 600;
}

.service-card > div:nth-child(2) {
	font-size: clamp(.8rem , 1.4vw, 1.2rem);
}

/*font-size: clamp(1.2rem , 1.3vw, 1.6rem);*/