@media (min-width: 1400px) {
	.navbar {
		padding: 24px  10%;
	}

	.footer {
		padding: 64px 88px;
	}

	.banner-x {
		padding: 0 8%;
	}

	.banner-x > div:nth-child(2) {
		/*align-self: flex-end;*/
		position: absolute;
		right: 4%;
	}

	.load-popup {
		height: 60vh;
		width: 64%;
	}
}