@media(min-width: 1400px) {
	.banner { 
		padding: 180px 10%;
		padding-top: 180px;
		background-position: 0 60%;
	}

	.message {
		padding: 0 12%;
		padding-top: 40px;
	}

	.green-div {
		padding: 0 10%;
	}

	.message-3 {
		width: 100%;
		display: flex;
		padding: 260px 10%;
		padding-left: 10%;
	}
}